html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0e0e0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

#p5-info {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    z-index: 10;
    text-align: center;
}
